.card:hover img{
  transform: scale(1.5,1.5);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  opacity: 0.5;
  height: 250px;
}
.image-wrapper{
  overflow: hidden;
  position: relative;

}
