<div class="card ">
  <div class="image-wrapper">
    <img class="card-img-top" src="assets/images/housedefault.png"></div>
    <ul class="list-inline text-center">
      <li class="list-inline-item">
        <button class="btn btn-primary" routerLink="/property-detail/{{property.id}}"><i class="fa-solid fa-pen-to-square"></i></button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary" routerLink="/property-detail/{{property.id}}"><i class="fa-regular fa-address-book"></i></button>
      </li>

    </ul>



  <div class="card-body text-center">
        <h3>{{property.name}}</h3>
        <h3>{{property.type}}</h3>
  </div>

</div>
